/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-nov-2017, 19:33:29
    Author     : Isaac
*/
.boton{
                background-color: white;
                color: black;
                padding: 10px;
                text-align: center;
                display: inline-block;
                margin: 5px;
                cursor: pointer;
}
h1{
    font-size: 5vW;
}

#head{
    background-color: black;
    padding: 5%;
    margin: 1%;
}
#foot{
    background-color: black;
    padding: 2%;
    margin: 1%;
}
#content{
    padding: 2%;
    margin: 1%;
}
.contenedor{
    background-image: url("cover.jpg");
    background-size: cover;
    padding: 2%;
    margin: 1%;    
    width: 940px;
}