<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="The SounDLibrary" />    
    <meta name="author" content="Isaac Rovira" />    
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">	  

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    

    <style>
            .body{
                    padding: 5%;
            }
            #menu{
                    background-color: azure;			
            }
            #header{
                    background-color: aquamarine;
            }
            #foot{
                    background-color: skyblue;
            }
            #menu ul{
                    list-style-type: : none;
                    margin: 0;
                    padding: 0;
            }		
            #menu li{
                    padding: 5%;
                    margin-bottom: 5%;
                    margin-top: 5%;
                    background-color: skyblue;
                    color: white;
            }
            #menu li:hover{
                    background-color: aquamarine;
            }
            body{
                    background-color: gainsboro;
            }
            #cabecera{
                    background-color: black;
                    color: white;
            }
    </style>
    <script>
        var url = "127.0.0.1:3030/api";
        var xhttp;

        if (window.XMLHttpRequest) {    
            xmlhttp = new XMLHttpRequest();
         } else {    
            xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
        }

        xhttp.open("POST",url,true);
        
        xhttp.send("");


        xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            document.getElementById("demo").innerHTML = this.responseText;
          }
        };
    </script>
	
	<title>TheSounDLibrary</title>
</head>
<body>	
	<div class="container-wide fixed-top" id="cabecera">
		<div class="row">
			<div class="col-3" id="upperHead">
				<h1>TSL</h1>
			</div>
			<div class="col">
				<ul class="nav justify-content-center">
					<li class="nav-item"><a href="#menu_buscar" class="nav-link" data-toggle="collapse" data-target="#menu_buscar">Buscar</a></li>
					<li class="nav-item"><a href="#menu_añadir" class="nav-link" data-toggle="collapse" data-target="#menu_añadir">Añadir</a></li>
					<li class="nav-item"><a href="#menu_eliminar" class="nav-link" data-toggle="collapse" data-target="#menu_eliminar">Eliminar</a></li>
					<li class="nav-item"><a href="/logout" class="nav-link">Cerrar</a></li>                                        
				</ul>						
			</div>
		</div>
                <div id="demo"></div>
		<div class="row collapse" id="menu_buscar">
			<div class="col-xs-12 col-sm-4">			
				<form id="form_buscar" action="POST">
					<div class="form-group">
						<label>Artista:</label>
						<input class="form-control" type="text" value="" id="Artista">
						<label>Album:</label>
						<input class="form-control" type="text" value="" id="Titulo">
					</div>
					<div class="form-check form-check-inline">
						<label class="">Genero:</label>
					<div class="form-check form-check-inline">	
						<label class="form-check-label">
							<input class="form-control" type="checkbox" name="genero" value="Blues">Blues
						</label>
					</div>
					<div class="form-check form-check-inline">	
						<label class="form-check-label">
							<input class="form-control" type="checkbox" name="genero" value="Jazz">Jazz
						</label>
					</div>
					<div class="form-check form-check-inline">
						<label class="form-check-label">
							<input class="form-control" type="checkbox" name="genero" value="Pop">Pop
						</label>
					</div>
					</div>
					<div class="form-group">
						<input	type="submit" value="Buscar">
					</div>	
				</form>
			</div>			
		</div>
		<div class="row collapse" id="menu_eliminar">
			<div class="col-xs-12 col-sm-3">			
				<form id="form_buscar">
					<div class="form-group">
						<label>Artista:</label>
						<input class="form-control" type="text" value="" id="Artista">
						<label>Album:</label>
						<input class="form-control" type="text" value="" id="Titulo">
						<input	type="submit" value="Buscar">
					</div>
				</form>
			</div>			
		</div>
			<div class="row collapse" id="menu_añadir">
			<div class="col-xs-12 col-sm-3">			
				<form id="form_buscar">
					<div class="form-group">
						<label>Artista:</label>
						<input class="form-control" type="text" value="" id="Artista">
						<label>Album:</label>
						<input class="form-control" type="text" value="" id="Titulo">
						<input	type="submit" value="Buscar">
					</div>
				</form>
			</div>			
		</div>	
		<div class="row">
			<div class="col border">
				BARRRA DE NAVEGACIÓN
			</div>
		</div>		
	</div>
	<div class="row">	
		<div class="col">
			<br><br><br><br>
		</div>
		<div class="col d-block d-md-none">
			<br>
		</div>
		<div class="col d-block d-sm-none">
			<br><br><br><br><br>
		</div>
	</div>
	
	<div class="container">
		
		<div class="row">
			<div class="d-none d-sm-block col-2" id="menu">
				<form id="form_buscar">
					<div class="form-group">
					<label>Artista:</label><input class="form-control" type="text" value="" id="Artista">
					<label>Título:</label><input class="form-control" type="text" value="" id="Titulo">
					<br><input	type="submit" value="Buscar">
					</div>
				</form>				
			</div>			
			<div class="col-xs-12 col-sm-10 " id="contenido">
				<div class="row">
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<figure>
							<img src="./img/Caratulas/ACME.jpg" alt="ACME" class="img-fluid img-thumbnail">
							<figcaption>ACME - The John Spencer Blues Explosion</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<figure>
							<img src="./img/Caratulas/ACME.jpg" alt="ACME" class="img-fluid img-thumbnail">
							<figcaption>ACME - The John Spencer Blues Explosion</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<figure>
							<img src="./img/Caratulas/ACME.jpg" alt="ACME" class="img-fluid img-thumbnail">
							<figcaption>ACME - The John Spencer Blues Explosion</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<figure>
							<img src="./img/Caratulas/ACME.jpg" alt="ACME" class="img-fluid img-thumbnail">
							<figcaption>ACME - The John Spencer Blues Explosion</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<figure>
							<img src="./img/Caratulas/ACME.jpg" alt="ACME" class="img-fluid img-thumbnail">
							<figcaption>ACME - The John Spencer Blues Explosion</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<figure>
							<img src="./img/Caratulas/ACME.jpg" alt="ACME" class="img-fluid img-thumbnail">
							<figcaption>ACME - The John Spencer Blues Explosion</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<figure>
							<img src="./img/Caratulas/ACME.jpg" alt="ACME" class="img-fluid img-thumbnail">
							<figcaption>ACME - The John Spencer Blues Explosion</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<figure>
							<img src="./img/Caratulas/ACME.jpg" alt="ACME" class="img-fluid img-thumbnail">
							<figcaption>ACME - The John Spencer Blues Explosion</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<figure>
							<img src="./img/Caratulas/ACME.jpg" alt="ACME" class="img-fluid img-thumbnail">
							<figcaption>ACME - The John Spencer Blues Explosion</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<figure>
							<img src="./img/Caratulas/ACME.jpg" alt="ACME" class="img-fluid img-thumbnail">
							<figcaption>ACME - The John Spencer Blues Explosion</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<figure>
							<img src="./img/Caratulas/ACME.jpg" alt="ACME" class="img-fluid img-thumbnail">
							<figcaption>ACME - The John Spencer Blues Explosion</figcaption>
						</figure>
					</div>
					<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
						<figure>
							<img src="./img/Caratulas/ACME.jpg" alt="ACME" class="img-fluid img-thumbnail">
							<figcaption>ACME - The John Spencer Blues Explosion</figcaption>
						</figure>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row" id="foot">
		<div class="col">
                    
                    <h5><strong>EMAIL: </strong><%= user.local.email %><h5>                   
                    
                </div>
	</div>
</body>