<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
    <title>The SounDLibrary</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

    <link rel="stylesheet" href="./css/index.css"> <!-- p·gina de inicio, login, signin -->
    
    <style>
        .transparent{            
            display:none;
        }
    </style>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script>
    // With the element initially hidden, we can show it slowly:
    $( document ).ready(function() {
      $( ".transparent" ).fadeIn(5000);
    });
    </script>

</head>

<body>
    <div class="container-fluid white">
        <div class="row">
            <div id="div" class="jumbotron transparent text-center">
                <h1><span class="fa fa-lock"></span>The SounDLibrary</h1>

                <!--<p><b>Iniciar sesi√≥n<b> o <b>Registrarse<b></p>-->

                <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
                <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
            </div>	
        </div>
    </div>

</body>
</html>
