<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="UTF-8">
    <title>The SounDLibrary</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->

    <link rel="stylesheet" href="./css/index.css"> <!-- página de inicio, login, signin -->
    
    <style>
        .transparent{            
            display:none;
        }
    </style>

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script>
    // FadeIn:
    $( document ).ready(function() {
      $( ".transparent" ).fadeIn(2000);
    });
    </script>

</head>

<body>
    <div class="container-fluid white">
        <div class="row">
            <div id="div" class="jumbotron transparent text-center">
                <h1><span class="fa fa-lock"></span>The SounDLibrary</h1>

                <!--<p><b>Iniciar sesión<b> o <b>Crear una cuenta<b></p>-->

                <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Iniciar sesión</a>
                <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Crear tu cuenta</a>
            </div>	
        </div>
    </div>
</body>
</html>
