.far fa-times-circle{    
    font-size: 25px;
    float:right;
}
.far fa-times-circle:hover{    
    opacity: 0.85;
}

/*Mosaic style*/

#mainRow{
    padding: 0.001%;
    margin: 0.001%;
}
.infoText{
    display: inline;
    color: black;
    max-width: 100%;
    text-align: center;
    padding: 1%;
    font-size: 1.0vw;
}

.mainDivMosaic{
    padding:0%;
    margin: 0%;
}
.dataDivMosaic{                
    padding:0%;
    margin: 0%;
    color: white;
}
.imgDivMosaic{                
    padding:2%;
    margin: 0%;
}
.imgTagMosaic{                
    padding:0%;
    margin: 0%;
    border-radius: 10%;
}
#dataContainer{
    padding: 1%;
}

/*General style*/
#dataContainer{
    margin-top: 3em;
    margin-left: 4em;
}
body{
    background-color: black;
}
.mainDataRowContainer{
    margin: 1% 0.5% 1% 0.5%;
    padding: 1% 0% 1% 0%;
    align-self: center;
}

/*Menú vertical*/
svg{
    color: white;
    font-size: 150%;
}
svg:hover{
    opacity: 0.65;
    font-size: 200%;
}
#sideMenu{
    padding: 2%;
    margin: 0%;
    position:fixed;
    left: 1em;
    top: 4em;
}

/*Manu horizontal estilo*/
#icono{
    color: white;
    font-weight: 900;
    position: fixed;    
}

/*List style*/
.div-list-img{
    margin: 0;
    padding: 1%;
    border: 0;
}
.div-list-text{
    margin: 0;
    padding: 1%;
    border: 0;
}
.row-list-item{
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;
}
.ilTagSong{
    color: white;
}
.img-list{
    margin: 1%;
    padding: 0%;
    width: auto;
    height: 5em;
}
.list-group{
    padding: 0%;
    margin: 1%;
}
.list-group-item{
    border: 0;
    margin: 0;
    padding: 1%;
    background: linear-gradient(to right, whitesmoke , transparent);
}
.list-group-item:hover{
    opacity: 1;    
    color: whitesmoke;
}
.list-info{
    margin: 1px;
}
.textalbum{
    font-weight: bold;
}
