.far fa-times-circle{    
    font-size: 25px;
    float:right;
}
.far fa-times-circle:hover{    
    opacity: 0.85;
}

/*Mosaic style*/

#mainRow{
    padding: 0.001%;
    margin: 0.001%;
}
.infoText{
    display: inline;
    color: black;
    max-width: 100%;
    text-align: center;
    padding: 1%;
    font-size: 1.0vw;
}

.mainDivMosaic{
    padding:0%;
    margin: 0%;
}
.dataDivMosaic{                
    padding:0%;
    margin: 0%;
    color: white;
}
.imgDivMosaic{                
    padding:2%;
    margin: 0%;
}
.imgTagMosaic{                
    padding:0%;
    margin: 0%;
    border-radius: 10%;
}
#dataContainer{
    padding: 1%;
}

/*General style*/
body{
    background-color: black;
}
.mainDataRowContainer{
    margin: 1% 0.5% 1% 0.5%;
    padding: 1% 0% 1% 0%;
    align-self: center;
}

/*Menú vertical*/
svg{
    color: white;
    font-size: 150%;
}
svg:hover{
    opacity: 0.65;
    font-size: 200%;
}
#sideMenu{
    padding: 0%;
}

/*Manu horizontal estilo*/
#icono{
    color: white;
    font-weight: 900;
}

/*List style*/
.ilTagSong{
    color: white;
}
.img-list{
    width: 100%;
    height: auto;
}
.list-group{
    padding: 1%;
    margin: 1%;
}
.list-group-item{
    padding: 0.5%;
}
.list-group-item:hover{
    opacity: 0.75;
    background-color: whitesmoke;
}
.list-info{
    margin: 0px;
}
.textalbum{
    font-weight: bold;
}
