.far fa-times-circle{    
    font-size: 25px;
    float:right;
}
.far fa-times-circle:hover{    
    opacity: 0.85;
}

figcaption{
    text-align: center;
    margin: 0% 5% 0% 5%;
}

.img-mosaic{    
    max-width: 225px;
}
.img-mosaic:hover{  
    position: relative;
    margin: 10px 10px 10px 10px;
    left: 0px;
    top: 0px;    
    max-width: 205px;
    opacity: 0.85;
}

.img_mosaic_detail{
    width: available;
}

.col-albumData-detail{
    align-content: center;
    color: white;
    padding: 5px;
}

.col-songList-detail{
    color: white;
    margin-top: 5px;
}

.main-col-detail{
    padding: 10px;
    margin: 15px 0px 15px 0px;
    border: solid;
    border-color: white;
}
.ilTagSong{
    color:white;
}