<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>The SounDLibrary</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body{
			background: URL('./img/Portadas/chuckberry1.jpg');
			padding-top: 80px;
		}
		
    </style>
</head>
<body>
<div class="container">

    <div class="jumbotron text-center">
        <h1><span class="fa fa-lock"></span>The SounDLibrary</h1>

        <p><b>Iniciar sesión<b> o <b>Registrarse<b></p>

        <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Local Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
    </div>
	<img src="y:/ifp/semestre4/proyectos/codigo/nodejs/views/img/Portadas/chuckberry1.jpg"/>
</div>
</body>
</html>