<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <script src="../js/queryAll.js" type="text/javascript"></script>
        <script src="../js/contentGenerator.js" type="text/javascript"></script>
        
    </head>
    <body>
        <div class="container">
            <p>INSERTAREMOS LAS IMAGENES AQUI</p>
            <div class="row" id="laFila">                
            </div>
        </div>
        <script type="text/javascript">            
            getAll(lafuncion);
        </script>
    </body>
</html>